[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
torch = "*"
transformers = "*"
timm = "*"
streamlit = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]
jupyter = "*"
pandas = "*"

[requires]
python_version = "3.10"
